@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  font-family: "Inconsolata", monospace;
}
/* index.css */
/* scroll bar hiddeen */
html, body {
  scrollbar-width: none; /* For Firefox */
}
html::-webkit-scrollbar {
  width: 0px;  /* For Chrome, Safari, Edge */
}
body {
  overflow-y: scroll;  /* Enable scrolling */
}


